@keyframes fade-in {
  0%{opacity: 0}
  100%{opacity: 1}
}

.grid-item {
  border: 1px solid grey;
  position: absolute;
  padding: 5px;
  opacity: 0;
  animation: 0.7s fade-in forwards;
  transition: 0.3s transform;
  z-index: 1;

  &.dragging {
    background: transparentize(red, 0.5);
    transition: none;
    z-index: 10;
  }
}